env/
venv/
.venv
.vscode
.idea/
.htpasswd
__pycache__/
flower
app.db-journal
docs/_build
migrations

*.db
*.pyc
*.log
*.sql
*.pem
*.pid

*.jpg

backend/.env

nohup.out
builds/
app/static/
mos_data.json
base_data.json