$black-color: #1E1E1E;
$dark-gray-color: #2A2A2A;
$light-gray-color: #3D3D3D;
$green-color: #24B23A;
$secondary-green-color: #00C13A;
$white-color: #fbfbfb;
$hover-color: #444;
$shadow-color: rgba(0, 0, 0, 0.3);
$translucent-gray: rgba(30, 30, 30, 0.85);
$input-background-color:  $light-gray-color